{% extends 'base.html.twig' %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="sideNav">
		<a class="navbar-brand js-scroll-trigger" href="#page-top">
			<span class="d-block d-lg-none">Mourtalla Faty Diawara
			</span>
			<span class="d-none d-lg-block">
				<img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ asset('/images/profile1.jpg') }}" alt="profile"/>
			</span>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#about">A propos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#dev">Development</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#education">Formation</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#skills">Compétences</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#interests">Centre d'intérêt</a>
				</li>
				<li class="nav-item">
					<a class="nav-link js-scroll-trigger" href="#projects">
						Projects
						<span class="badge badge-pill badge-warning" style="margin-right: -50px;">NEW</span>
					</a>

				</li>
			</ul>
		</div>
	</nav>

	<div class="container-fluid p-0">
		<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
			<div class="my-auto">
				<h1 class="mb-0 text-light">
					Mourtalla Faty
					<span class="text-primary">Diawara</span>
				</h1>
				<div class="subheading mb-5">
					Sarcelles, Ile de France · (33) 06-60-94-31-35 ·
					<a href="mailto:mourtallafatydiawara@email.com">mourtallafatydiawara@gmail.com</a>
				</div>
				<p class="lead mb-5">
					Actuellement jeune diplomé d'une licence informatique et aspirant developpeur full-stack web/Mobile. 
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																je suis à la recherche d'une entreprise qui pourra m'accueillir en contrat d'aprentisage. Télécharger mon
					<a href="{{ asset('/moncv.pdf') }}" download="diawara.pdf">CV</a>
				</p>
				<div class="social-icons">
					<a href="https://www.linkedin.com/in/mourtalla-faty-diawara-b98307184/" class="my-1" target="_blank">
						<i class="fab fa-linkedin-in"></i>
					</a>
					<a href="https://github.com/diawara24" class="my-1" target="_blank">
						<i class="fab fa-github"></i>
					</a>
					<a href="https://twitter.com/MourtalaDiawar1" class="my-1" target="_blank">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="https://www.facebook.com/mourtala.diawara/" class="my-1" target="_blank">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="https://stackoverflow.com/users/16587026/mourtalla-faty-diawara" class="my-1" target="_blank">
						<i class="fab fa-stack-overflow"></i>
					</a>
				</div>
			</div>
		</section>

		<hr class="m-0"/>

		<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
			<div class="my-auto">
				<h2 class="mb-5">Work Experience</h2>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Python Developer</h3>
						<div class="subheading mb-3">Teqniati</div>
						<p>Most of time I'm a full stack developer, beside writing python scripts to automate tasks and integrating ML models in our applications.</p>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">February 2019 - Present</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Web Developer</h3>
						<div class="subheading mb-3">Free Lancer @ Upwork</div>
						<p>Create front/back - end applications for clients on
							<a href="https://www.upwork.com/freelancers/~01efc019fd4fb14238" target="_blank">Upwork</a>.
						</p>

					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">December 2018 - Present</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Premium Support</h3>
						<div class="subheading mb-3">Telecom Egypt</div>
						<p>
							Support ADSL and FTTH technical and sales inquiries for business level and special customers - used to handle any case and under any level of rush hours - provide creative solutions for customers and follow up with them to achieve highest satisfaction and best user experience.
						</p>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">September 2017 - October 2018</span>
					</div>
				</div>
			</div>
		</section>

		<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="dev">
			<div class="my-auto">
				<h2 class="mb-5">Developpement</h2>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Developpement Front-End</h3>
						<p>
							je peux creer plusieurs projets avec java, php, j'utilise  CSS, Bootstrap et j'écris des styles css personnalisés pour l'interface utilisateur créant de belles applications responsive.

						</p>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Developpement Back-End</h3>
						<p>
							J'ai un peu d'experience pratique dans le framework symfony, spring MVC fournissant des applications sécurisées, stables et puissantes. Et j'utilise généralement Wordpress pour des applications plus simples.</p>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Design Background</h3>
						<p>
							Je me débrouille pas mal sur la partie design, je connais un peu Illustrator et Photoshop..
						</p>
					</div>
				</div>
			</div>
		</section>

		<hr
		class="m-0"/>

		<!-- Formation -->
		<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
			<div class="my-auto">
				<h2 class="mb-5">Formation</h2>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Lycée Valdiodio ndiaye.
							<h6>Kaolack, Sénégal</h6>
						</h3>
						<div class="subheading mb-3">Baccalaureat serie scientifique (S2).

						</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2016</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Université Dakar Bourguiba.<h6>Dakar, Sénégal</h6>
						</h3>

						<div class="subheading mb-3">Licence 3 en Genie logiciel</div>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2019</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row mb-5">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">CY Cergy Paris Universté<h6>Cergy, France</h6>
						</h3>
						<div class="subheading mb-3">Licence 3 informatique</div>

					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2021</span>
					</div>
				</div>

				<div class="resume-item d-flex flex-column flex-md-row">
					<div class="resume-content mr-auto">
						<h3 class="mb-0">Préparation bac+4 développeur full-stack
							<h6>Paris, France,
								<a href="https://cloud-campus.fr/" target="_blank">Cloud Campus</a>
							</h6>
						</h3>
					</div>
					<div class="resume-date text-md-right">
						<span class="text-primary">2021-2023</span>
					</div>
				</div>
			</div>
		</section>

		<hr class="m-0"/>

		<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
			<div class="my-auto">
				<h2 class="mb-5">Compétences</h2>

				<div class="subheading mb-3">outils &amp; Langages de programmation</div>
				<ul class="list-inline dev-icons">
					<li class="list-inline-item">
						<i class="fab fa-html5"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-css3-alt"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-symfony"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-php"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-java"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-github"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-wordpress"></i>
					</li>
					<li class="list-inline-item">
						<i class="fas fa-database"></i>
					</li>
				</ul>

				<div class="subheading mb-3">outils &amp; Langages en cours d'acquisition</div>
				<ul class="list-inline dev-icons">
					<li class="list-inline-item">
						<i class="fab fa-js"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-python"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-react"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-vuejs"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-node"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-android"></i>
					</li>
					<li class="list-inline-item">
						<i class="fab fa-docker"></i>
					</li>
				</ul>


				<div class="subheading mb-3">Autres compétences</div>
				<ul class="fa-ul mb-0">
					<li>
						<i class="fa-li fa fa-check"></i>
						Mise en place de site web dynamique
					</li>
					<li>
						<i class="fa-li fa fa-check"></i>
						Gestion de projet informatique
					</li>
					<li>
						<i class="fa-li fa fa-check"></i>
						Programmation Orienté-Objet</li>
					<li>
						<i class="fa-li fa fa-check"></i>
						Travail d'équipe &amp; Sens de l'écoute</li>
				</ul>
			</div>
		</section>

		<hr
		class="m-0"/>

		<!-- Centre d'interet -->
		<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
			<div class="my-auto">
				<h2 class="mb-5">Centre d'interet</h2>
				<p>
					En plus de vouloir etre un développeur full-stack Web/Mobile , j’aime la plupart de mon temps etre entrain de coder. 
																																																																																																																																																																																																																																																																																																																																																																																	Je fais de l’entraînement de rue et je cours aussi j’aime les series, les mangas, 
																																																																																																																																																																																																																																																																																																																																																																																	j’ai un plan pour parcourir le monde et découvrir de nouvelles choses et de nouvelles personnes, j’aime l’aventure.
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	        adventure.
				</p>
				<p class="mb-0">
					J’ai toujours eu une passion pour l’informatique et la technologie, alors je l'ai choisi comme carrière 
																																																																																																																																																																																																																																																																																																																																																																																		et je veux toujours en savoir plus et être mis à jour.
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																									        as a career and I always want to know more and be updated.
				</p>
			</div>
		</section>

		<hr class="m-0"/>

		<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
			<div class="my-auto">
				<h2 class="mb-5">Projects</h2>
				<div
					class="row">
					<!-- Stylek -->
					<div class="col-lg-4 col-md-4 col-sm-6 my-2">
						<div class="card bg-dark shadow" style="max-width: 18rem;height:100%;">
							<img src="{{ asset('images/stylek.PNG') }}" class="card-img-top" alt="Stylek"/>
							<div class="card-body">
								<h4 class="card-title text-light">Stylek</h4>
								<p class="card-text">
									Powerful and easy to use search engine and Blog app
								</p>
								<a href="https://stylek.herokuapp.com" class="btn btn-primary font-weight-bold m-1" target="_blank">
									View Site
								</a>
								<a href="https://github.com/MuhamedYoussef/stylek" class="btn btn-outline-primary m-1" target="_blank">
									Github rebo
								</a>
							</div>
						</div>
					</div>
					<!-- EgyGuid -->
					<div class="col-lg-4 col-md-4 col-sm-6 my-2">
						<div class="card bg-dark shadow" style="max-width: 18rem;height:100%;">
							<img src="{{ asset('images/egyguid.png') }}" class="card-img-top" alt="egyguid"/>
							<div class="card-body">
								<h4 class="card-title text-light">Egyguid</h4>
								<p class="card-text">
									Explore Egypt and share your journey with our community
								</p>
								<a href="https://egyguid.herokuapp.com/" class="btn btn-primary font-weight-bold m-1" target="_blank">
									View Site
								</a>
								<a href="https://github.com/MuhamedYoussef/egyguid" class="btn btn-outline-primary m-1" target="_blank">
									Github rebo
								</a>
							</div>
						</div>
					</div>
					<!-- TechStore -->
					<div class="col-lg-4 col-md-4 col-sm-6 my-2">
						<div class="card bg-dark shadow" style="max-width: 18rem;height:100%;">
							<img src="{{ asset('images/techstore.png') }}" class="card-img-top" alt="egyguid"/>
							<div class="card-body">
								<h4 class="card-title text-light">TechStore</h4>
								<p class="card-text">E-Commerce website for hackers :)</p>
								<a href="https://techstor.herokuapp.com/" class="btn btn-primary font-weight-bold m-1" target="_blank">
									View Site
								</a>
								<a href="https://github.com/MuhamedYoussef/techstore" class="btn btn-outline-primary m-1" target="_blank">
									Github rebo
								</a>
							</div>
						</div>
					</div>
					<!-- YT Downloader -->
					<div class="col-lg-4 col-md-4 col-sm-6 my-2">
						<div class="card bg-dark shadow" style="max-width: 18rem;height:100%;">
							<img src="{{ asset('images/yt.png') }}" class="card-img-top" alt="egyguid"/>
							<div class="card-body">
								<h4 class="card-title text-light">YouTube Downloader</h4>
								<p class="card-text">Download almost any video from YouTube</p>
								<a href="https://joeapps.herokuapp.com/downloader/" class="btn btn-primary font-weight-bold m-1" target="_blank">
									View Site
								</a>
								<a href="https://github.com/MuhamedYoussef/joeapps" class="btn btn-outline-primary m-1" target="_blank">
									Github rebo
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	{% endblock %}
